*{
    margin: 0;
    padding: 0;
}


html, body{
    height: 100%;
}

/* estou simulando um header com isso
mera mente ilustrativo */
.header{
    width: 100%;
    min-width: 1280px;
    height: 200px;
    background: gray;
}


/* meramente ilustrativo */
.article{
    margin: 0 auto;
    width: 1280px;
    height: 600px;
    background: red;
}