*{
    margin: 0;
    padding: 0;
}


html, body{
    height: 100%;
}


.center{
    box-sizing:content-box;
    width: 750px;
    margin: 0 auto;
    background-color: blue;
}


.artigo{
    box-sizing: border-box;
    vertical-align: top;
    display: inline-block;
    width: 355px;
    margin: 10px 10px;
    margin-right: -4px;
    border: 2px solid red;
}