*{
    margin: 0;
    padding: 0;
    
}
html, body{
    height: 100%;
}


.box{
    background: gray;
    width: 40%;
    height: 300px;

}

.box p{
    
    color: initial;
    background-color: initial;
}

/* .box > .box2 > span{
    display: inline-block;
    /* background: red;
    width: inherit;
    height: inherit; */



    /*O valor inherit significa que o estilo herdara sempre do elemento do pai
} 

@media screen and (max-width:700px){
    .box{
        height: auto;
    }
} */